<div id="site__bar" class="fixed top-0 left-0 z-[99] pt-[--m-top] overflow-hidden transition-transform xl\:duration-500 max-xl\:w-full max-xl:-translate-x-full">
    <div class="p-2 max-xl:bg-white shadow-sm 2xl:w-72 sm:w-64 w-[80%] h-[calc(100vh-64px)] relative z-30 max-lg:border-r dark:max-xl:!bg-slate-700 dark:border-slate-700">
        <div class="pr-4" data-simplebar>
            <nav id="side">
                <ul>
                    <li>
                        <a asp-controller="Home">
                            <img src="~/images/icons/home.png" class="w-6" />
                            <span> Feed </span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Favorites">
                            <img src="~/images/icons/page.png" class="w-6" />
                            <span> Favorites </span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Groups">
                            <img src="~/images/icons/groups.png" class="w-6" />
                            <span> Groups </span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Friends">
                            <img src="~/images/icons/group-2.png" class="w-6" />
                            <span> Friends </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav id="side" class="font-medium text-sm text-black border-t pt-3 mt-2">
                <div class="px-3 pb-2 text-sm font-medium">
                    <div class="text-black">Pages</div>
                </div>

                <ul class="mt-2 -space-y-2">
                    <li>
                        <a asp-controller="Settings" asp-action="Index">
                            <img src="~/images/icons/settings.png" class="w-6" />
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="site__sidebar__overlay" class="absolute top-0 left-0 z-20 w-screen h-screen xl\:hidden backdrop-blur-sm" uk-toggle="target:#site__bar ; cls :!-translate-x-0">
    </div>
</div>